pymavlink~=2.4.39
geopy~=2.3.0
PyQt5~=5.14.1
PyQtWebEngine
folium~=0.14.0

torch~=2.0.1+cpu
PyYAML~=5.3.1
argparse~=1.4.0
Pillow~=9.5.0
torchvision~=0.15.2+cpu
numpy~=1.24.3
opencv-python~=4.8.0.74
matplotlib~=3.7.1
pandas~=2.0.1
seaborn~=0.12.2
requests~=2.31.0
tqdm~=4.65.0
psutil~=5.9.5
thop~=0.1.1.post2209072238
scipy~=1.10.1